.furima-container
  %header.furima-header
    .furima-logo-box
      = link_to root_path do
        .furima-logo
  .buy-confirmation-box
    .buy-confirmation-text-box 購入内容の確認
    .buy-confirmation-purchase-box
      .buy-content
        .buy-item-box
          %h3.buy-item-image
            = image_tag "#{@item.item_images[0].src}", size: "100x100"
          .buy-item-detail
            %p.buy-item-name 
              = @item.name
            %p.buy-price
              %span 
                = @item.price.to_s(:delimited)
                円
              %span.item-shipping-fee （税込）送料込み
    %section.buy-content
      .buy-content
        .buy-confirmation-detail-box
          .buy-price-row
            .buy-price-text 支払い金額
            .buy-price-cell
              %span 
                = "¥#{@item.price.to_s(:delimited)}"
        .buy-confirmation-detail-box
          .payment-method
            %h3 支払い方法
            %p.buy-user-credit-text クレジットカード
            - if @card.blank?
              = link_to new_credit_card_path do
                %span.credit-register-text クレジットカード情報を登録してください
            - else
              = image_tag "images/#{@card_image}",width:'34',height:'20', alt:'master-card'
              %p.creditcard-info__number
                = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
              %p.creditcard-info__period 
                = @exp_month + " / " + @exp_year
        .buy-confirmation-detail-box
          .shipping-address
            %h3 配送先
            - if @address.blank?
              = link_to new_deliver_address_path do
                %span.buy-register-text 登録してください
            - else
              = "〒 #{@address.zip_code}"
              -# %br
              -#   = @address.prefecture.name + @address.city + @address.address1 + @address.apartment_address
              -# %br
              -#   = @address_info
              %br
                = @full_name
    .buy-content
      .buy-confirmation-btn-box
        = form_tag(action: :buy, method: :post) do
          %button.btn-default 購入する
    -# = form_tag action: :buy, method: :post do
    -#   :plain
    -#   %script{type: "text/javascript", src: "https://checkout.pay.jp", class:"payjp-button", "data-text": "購入する", "data-key": "pk_test_0816834c33257af8a4bf22cc"}
  %footer.login-footer
    %nav
      %ul.clearfix
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            フリマ利用規約
        %li
          = link_to "#" do
            特定商取引に関する表記
      = link_to "#", class:"footer-logo" do
        = image_tag "material/logo/logo-white.png", size: "120x70"
    .copyright
      %p
        %small © furima, Inc.