= render "header"

.main
  .item_info
    .item_name
      =@item.name
    .item_image
      .selected_image
        - if @image.present?
          = image_tag @image.src.to_s, size: "300x300"
        - else 
          = image_tag "material/no-image.png"
        .images
          - @item.item_images.each.with_index do |image, index|
            - if image.present?
              .image1
                = image_tag image.src_url
            - else 
              = image_tag "material/no-image.png"
    .item_price
      = "¥ #{@item.price}"
    .price_info
      .existence_tax
        (税込)
      .existence_shipping_cost
        送料込み
    .item_introduction
      = @item.introduction
    .item_detail
      %table
        %tbody
          %tr
            %th 出品者
            %td 
              =@item.user.nickname
          %tr
            %th カテゴリー
            %td
              %a
              - @parents.each do |parent|
                - if @items.category_id == parent.id
                  = link_to "#" do
                    = parent.parent.parent.name #親カテゴリー
                    %br
                  = link_to "#" do
                    = parent.parent.name #子カテゴリー
                    %br
                  = link_to "#" do
                    = parent.name #孫カテゴリー
          %tr
            %th ブランド
            %td
          %tr
            %th 商品のサイズ
            %td
          %tr
            %th 商品の状態
            %td 
              =ItemStatus.find(@item.item_status).value
          %tr
            %th 配送料の負担
            %td
              = ShippingFeeBurden.find(@item.shipping_fee_burden).value
          %tr
            %th 発送元の地域
            %td
              =Prefecture.find(@item.shipping_area_from).name
          %tr
            %th 発送日の目安
            %td
              = EstimatedShippingDate.find(@item.estimated_shipping_date).value
    .other_info
      .favorite_total
        お気に入り 0
      .report_btn
        不適切な商品の通報
      -if user_signed_in? && current_user.id == @item.user_id
        .edit_btn
          =link_to "編集", edit_item_path(@item)
        .destroy_btn
          =link_to "削除", "/items/#{@item.id}", method: :delete
      -else
        .buy_btn
          =link_to '購入', purchase_confirmation_item_path(@item)
  .comment_contents
    .comment_lists
    %form#comment_form.comment_form{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "TXlsjnDAoJ5qNus786Y/pytiVJD9qQvsN8zrFoETGzk00YZZ8y2qs5vulE8Ox8tk8m1sBXlpZwQqcUrHi+bQFQ=="}/
      %textarea#comment_body{:name => "comment[body]", :required => "required"}
    .comment_attention
      相手のことを考え丁寧なコメントを心がけましょう。
      %br/
      不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %br/
    %button.comment_submit{:name => "button", :type => "submit"}
      コメントする
  .switch_item
    .prev_item
      <前の商品
    .next_item
      後ろの商品>
  .show_corresponding_category_lists
    ベビー・キッズをもっと見る

= render "footer"
