%main.l-container.clearfix  
  .l-content  
    %section.l-chapter-container
      %h2.l-chapter-head 発送元・お届け先住所変更
      = form_with model: @deliver_address, url: deliver_addresses_path, id: 'l-single-inner', class: 'l-single-inner', local: true do |f|
        .l-single-content
          .form-group
            %label{:for => "name"} お名前
            %span.form-require 必須
            = f.text_field :family_name, autofocus: true, placeholder: "例) 山田", class:"input-default"
            = f.text_field :first_name, autofocus: true, placeholder: "例) 彩", class:"input-default"
          .form-group
            %label{:for => "name"} お名前カナ
            %span.form-require 必須
            = f.text_field :family_name_kana,autofocus: true, placeholder: "例) ヤマダ", class:"input-default"
            = f.text_field :first_name_kana,autofocus: true, placeholder: "例) アヤ", class:"input-default"
          .form-group
            %label{:for => "zip_code"} 郵便番号
            %span.form-require 必須
            = f.text_field :zip_code,:maxlength => "8", pattern: "\\d{3}-\\d{4}",autofocus: true, :placeholder => "例) 123-4567", class:"input-default"
          .form-group
            %label{:for => "prefecture"} 都道府県
            %span.form-require 必須
            .select-wrap
              %i.icon-arrow-bottom
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          .form-group
            %label{:for => "city"} 市区町村
            %span.form-require 必須
            = f.text_field :city, autofocus: true, placeholder: "例) 横浜市緑区", class:"input-default"
          .form-group
            %label{:for => "address1"} 番地
            %span.form-require 必須
            = f.text_field :address1, autofocus: true, placeholder: "例) 青山1−1−1", class:"input-default"
          .form-group
            %label{:for => "apartment-adress"} 建物名
            %span.form-arbitrary 任意
            = f.text_field :apartment_address, autofocus: true, placeholder: "例) 柳ビル103", class:"input-default"
          .form-group
            %label{:for => "telephone"} 電話
            %span.form-arbitrary 任意
            = f.text_field :telephone, autofocus: true, placeholder: "例) 09012345678", class:"input-default"
          = f.submit "登録", class: "btn-default"
